.contain{
    height: 100vh;
    background-color: rgb(26, 25, 25);
}
.nav-link{
    color: white;
}
.home{
    color: rgb(219, 103, 61);
}
.nav-link:hover{
    color: rgb(219, 103, 61);
    transition: 1s;
}
.ml{
    margin-left: 15px;
}



.bio{
    list-style: none;
}
.foot{
    color: white;
    text-decoration: none !important;
}
.foot:hover{
    color: rgb(219, 103, 61);
    transition: 1s;
}




.new{
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}
.mar{
    font-family: Manrope, sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 62px;
}
.audio{
    font-family: Manrope, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 26px;
}
.see{
    background-color: rgb(223, 119, 82);
    font-family: Manrope, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 26px;
}
.but{
    height: 80vh;
    align-items: center;
}


.shop{
    height: 27vh;
    /* width: 31%; */
    border-radius: 5px;
    background-color: rgb(241,241,241);
    position: relative;
}
.shoper{
    height: 27vh;
    /* width: 31%; */
    border-radius: 5px;
    background-color: rgb(241,241,241);
    position: relative;
    margin-left: 50px;  
}
.hi{
    font-family: Manrope, sans-serif;
    font-size: 13px;
    color: gray;
}
.img{
    position: absolute;
    bottom: 85px;
}
.line{
    margin-top: 80px;
}
.div{
    height: 70vh;
    align-items: center;
}
.hi:hover{
    color: rgb(219, 103, 61);
}

.pat{
    height: 100vh;
}
.circl{
    background: url(./Images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
    background-color: rgb(216,125,74);
}
.that{
    font-family: Manrope, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.75);
    line-height: 24px;
}
.saw{
    background-color: black;
    font-family: Manrope, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 26px;
}
.true{
    margin-top: 90px;
}

.card1{
    height: 57vh;
}
.speak{
    background: url(./Images/image-speaker-zx7.jpg);
    background-repeat: round;
    background-size: contain;
    height: 50vh;
    width: 100%;
}
.zx{
    font-family: Manrope, sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.sew{
    font-family: Manrope, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 26px;
    border: 1px solid black;
}
.dot{
    padding-top: 85px;
    padding-left: 70px;
}

.card2{
    height: 70vh;
}
.card2 div{
    /* width: 49%; */
    height: 51vh;
}
.bite{
    background-color: rgb(241,241,241);
    height: 51vh;
    /* width: 49%; */
}
.bite div{
    margin: 90px 90px auto;
}

.card3{
    height: 100vh;
}
.bring{
    font-family: Manrope, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.test{
    color: rgb(216,125,74);
}
.aud{
    font-family: Manrope, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    line-height: 26px;
}
.coll{
    /* width: 49%; */
    margin-top: 170px;
}


.contain1{
    height: 65vh;
    background-color: rgb(26, 25, 25);
    margin-top: 150px;
}
.box4{
    margin-top: 130px;
}
.bolt{
    padding-left: 95px;
    padding-top: 95px;
    border-top: 5px solid rgb(216,125,74);
    background-color: rgb(26, 25, 25);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-left: 16px;
}
.box3 p:hover{
    color: rgb(219, 103, 61);
    transition: 1s;
}





@media (max-width:576px) {
    .ml{
        margin-left: 0px;
    }
    .mar{
        font-size: 50px;
    }
    .non{
        display: none;
    }
    .contain{
        height: 85vh;
        background-color: rgb(26, 25, 25);
    }
    .but div{
        text-align: center;
    }

    
    .containerr{
        height: 95vh;
    }
    .div{
        margin-top: 90px;
        height: 94vh;
        align-items: center;
    }
    .shop{
        height: 23vh;
        width: 93%;
        border-radius: 5px;
        background-color: rgb(241,241,241);
        position: relative;
        border-radius: 15px;
    }
    .shoper{
        margin-left: 0px;
        height: 23vh;
        width: 93%;
        border-radius: 15px;
    }
    .hi{
        font-family: Manrope, sans-serif;
        font-size: 13px;
        color: gray;
    }
    .img{
        position: absolute;
        bottom: 90px;
    }
    .line{
        margin-top: 95px;
    }



    .circl{
        height: 110vh;
        border-radius: 15px;
    }
    .circl img{
        margin-left: 40px;
    }
    .true{
        margin-top: 60px;
        height: 37vh;
        text-align: center;
    }
    .pat{
        height: 115vh;
    }


    .card1{
        height: 39vh;
    }
    .speak{
        height: 35vh;
        width: 100%;
        border-radius: 15px;
    }
    .dot{
        padding-left: 35px;
        padding-top: 100px;
    }


    .card2{
        height: 58vh;
    }
    .rad{
        border-radius: 15px;
    }
    .card2 div{
        /* width: 49%; */
        height: 25vh;
    }
    .bite{
        background-color: rgb(241,241,241);
        height: 25vh;
        /* width: 49%; */
        border-radius: 15px;
    }
    .bite div{
        margin: 55px 20px auto;
    }



    .coll{
        margin-top: 100px;
        text-align: center;
    }
    .collo{
        margin-top: 30px;
    }
    .collo img{
        border-radius: 15px;
    }



    .bro{
        display: flex;
        flex-direction: column-reverse;
    }
    .bio{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .bio li{
        margin-top: 15px;
        margin-right: 40px;
    }
    .bolt{
        margin-left: 120px;
    }
    .contain1{
        height: 110vh;
    }
    .box{
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }
    .box2{
        width: 100%;
    }
    .box4{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        margin-right: 95px;
    }
}